
 * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    background-color: #e5e5fd;
    min-height: 100vh;
    border: 10px solid #1d1e4c;
}

.content {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.top-section {
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 20px;
}

.top-section h1 {
    font-size: 40px;
    font-weight: bold;
    color: black;
    text-transform: uppercase;
}

.top-section h3 {
    text-align: end;
    font-size: 30px;
}

.image-container {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    overflow: hidden;
    flex-shrink: 0;
}

.about-section {
    margin-top: 50px;
}

.about-section h2 {
    font-size: 70px;
    font-weight: 400;
    margin-bottom: 20px;
}

.about-section p {
    font-size: 20px;
    line-height: 30px;
    letter-spacing: 1.2px;
    text-align: justify;
    color: #000000;
    margin-bottom: 20px;
}

.bio-section {
    margin:50px 0 ;
}
.bio-section h2 {
     margin-bottom: 20px;
}
.bio-section ul {
    list-style-type: disc;
    margin-left: 50px;
}
.bio-section ul li {
    margin-bottom: 15px;
}
footer {
    margin-top: 50px;

}
footer p {
    text-align: end;
}